<div class="main-body">
  <div class="main-container">
    <div class="container">
      <div class="section-header">
        <h1 id="lab">LAB</h1>
        <h1 id="solutions">SOLUTIONS</h1>
      </div>

      <h1 class="tac">Terms and Conditions</h1>
      <hr />

      <div class="section-holder">
        <div class="section">
          <h4>Information We Collect</h4>
          <p>
            We may collect personal information including but not limited to
            your name, birthday, ID number, section, and program.
          </p>
        </div>

        <div class="section">
          <h4>Purpose of Collection</h4>
          <p>
            The information collected is used for monitoring requisitions and
            requests from students..
          </p>
        </div>

        <div class="section">
          <h4>Consent</h4>
          <p>
            By providing your information, you consent to the collection,
            processing, and use of your personal information in accordance with
            these terms.
          </p>
        </div>

        <div class="section">
          <h4>Use of Information</h4>
          <p>
            Your information will be used solely for the purpose for which it
            was collected, and it will not be shared with third parties without
            your explicit consent.
          </p>
        </div>

        <div class="section">
          <h4>Security Measures</h4>
          <p>
            We employ reasonable security measures to protect your information
            from unauthorized access, disclosure, alteration, or destruction.
          </p>
        </div>

        <div class="section">
          <h4>Retention</h4>
          <p>
            We will retain your information only for as long as necessary for
            the purposes outlined in these terms.
          </p>
        </div>

        <div class="section">
          <h4>Access and Correction</h4>
          <p>
            You have the right to access and correct your personal information.
            If you would like to review or update your information, you can
            login and update your profile.
          </p>
        </div>

        <div class="section">
          <h4>Children's Privacy</h4>
          <p>
            Our services are not directed to individuals under the age of 13. We
            do not knowingly collect personal information from children. If you
            are a parent or guardian and become aware that your child has
            provided us with personal information, please contact us to have it
            removed.
          </p>
        </div>

        <div class="section">
          <h4>Changes to Terms</h4>
          <p>
            We reserve the right to update or modify these terms and conditions.
            Any changes will be effective upon posting the revised terms on our
            website.
          </p>
        </div>

        <div class="section">
          <h4>Contact Information</h4>
          <p>
            If you have any questions or concerns regarding these terms, please
            contact us at
          </p>
        </div>

        <div class="section-email">
          <div class="emails">
            <p>andrew.macapagal19&#64;gmail.com.</p>
            <p>allenbumanlag&#64;gmail.com.</p>
            <p>acbagang&#64;gmail.com.</p>
            <p>carlgegante&#64;gmail.com.</p>
          </div>
        </div>
      </div>
      <div class="button-container">
        <a [routerLink]="['/login']"
          ><button type="button">
            Go Back<mat-icon>arrow_circle_left</mat-icon>
          </button></a
        >
      </div>
      <div class="copyright">
        <p>&copy; 2024 CCJEFLABSOLUTIONS. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>