<div class="container-profile">
  <div class="container-inside">
    <div class="card">
      <form>
        <div class="header">
          <p>
            <mat-icon fontIcon="manage_accounts" aria-hidden="false">
            </mat-icon>
            Profile Card
          </p>
        </div>
        <!-- Loader -->
        <div class="loader-container" *ngIf="!isResultLoaded">
          <div class="loader">
            <label
              >Sorry, we're having trouble loading the database. Try reloading
              the page.</label
            >
            <div class="loading"></div>
          </div>
        </div>
      </form>
    </div>

    <div class="profile-icon">
      <img src="../assets/profileIcon.png" alt="profileIcon" />
      <p>{{ this.currentUser?.LastName }}, {{ this.currentUser?.FirstName }}</p>
      <p>{{ this.currentUser?.StudentNum }}</p>
    </div>
  </div>
</div>

<div class="container-profile">
  <div class="container-inside">
    <div class="card">
      <form>
        <div class="header">
          <p>
            <mat-icon fontIcon="manage_accounts" aria-hidden="false">
            </mat-icon>
            User Information
          </p>
        </div>
      </form>
    </div>

    <div class="container-holder">
      <div class="main-holder" *ngIf="!isEditMode">
        <div class="holderone">
          <div class="section-holder">
            <h4>Last Name</h4>
            <p class="current-name">{{ this.currentUser?.LastName }}</p>
          </div>
          <div class="section-holder">
            <h4>First Name</h4>
            <p class="current-name">{{ currentUser?.FirstName }}</p>
          </div>
          <div class="section-holder">
            <h4>Birthdate</h4>
            <p class="current-name">
              {{ currentUser?.Birthdate | date : "dd-MM-yyyy" }}
            </p>
          </div>
        </div>

        <div class="holdertwo">
          <div class="section-holder">
            <h4>Student Number</h4>
            <p class="current-name">{{ currentUser?.StudentNum }}</p>
          </div>
          <div class="section-holder">
            <h4>UserName</h4>
            <p class="current-name">{{ currentUser?.UserName }}</p>
          </div>
          <div class="section-holder">
            <h4>Password</h4>
            <p class="current-name">********</p>
          </div>
        </div>
      </div>
      <div class="button" *ngIf="!isEditMode">
        <button (click)="enterEditMode(currentUser)">
          <mat-icon fontIcon="edit" aria-hidden="false"> </mat-icon>Edit
        </button>
      </div>
    </div>

    <div class="container-holder">
      <div class="main-holder" *ngIf="isEditMode">
        <div class="holderone">
          <div class="section-holder">
            <h4>Last Name</h4>
            <input type="text" [(ngModel)]="LastName" />
          </div>
          <div class="section-holder">
            <h4>First Name</h4>
            <input type="text" [(ngModel)]="FirstName" />
          </div>
          <div class="section-holder">
            <h4>Birthdate</h4>
            <input
              type="date"
              [(ngModel)]="Birthdate"
              [ngModelOptions]="{ updateOn: 'blur' }"
              (ngModelChange)="validateBirthdate()"
              [class.error-text]="birthdateError !== ''"
            />
            <div *ngIf="birthdateError" class="error-message">
              {{ birthdateError }}
            </div>
          </div>
        </div>

        <div class="holdertwo">
          <div class="section-holder">
            <h4>Student Number</h4>
            <p class="current-name-notallowed">{{ currentUser?.StudentNum }}</p>
          </div>
          <div class="section-holder">
            <h4>UserName</h4>
            <p class="current-name-notallowed">{{ currentUser?.UserName }}</p>
          </div>
          <div class="section-holder">
            <h4>Password</h4>
            <input type="text" [(ngModel)]="Password" />
          </div>
        </div>
      </div>
      <div class="button" *ngIf="isEditMode">
        <button (click)="UpdateProfile()">
          <mat-icon fontIcon="save" aria-hidden="false"> </mat-icon>Save
        </button>
        <button (click)="toggleEditMode()">
          <mat-icon fontIcon="cancel" aria-hidden="false"> </mat-icon>Cancel
        </button>
      </div>
    </div>
  </div>
</div>