/* Start of Main Table format */

.container-profile-main {
  width: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.container-profile {
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
}

.mat-drawer-content {
  height: 0;
}

.container-profile .container-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
}
/* End of Main Table format */

.container-profile .container-inside .card {
  background-color: var(--darkest-color);
}
.container-profile .container-inside .card form {
  width: 1000px;
}

.header {
  width: 100%;
  background-color: var(--darkest-color);
}

.container-profile .container-inside .card p {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  margin: 0px 0px 0px 20px;
}

p mat-icon {
  padding-right: 10px;
}

/* Profile Header */
.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 30px 0px;
}

.profile-icon img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.profile-icon p {
  text-align: center;
  margin: 0;
}

.profile-icon p:nth-child(3) {
  padding-top: 10px;
}

/* Profile Edit */
.main-holder {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

p.current-name {
  margin: 0;
}

.main-holder .holderone {
  grid-column: 1;
}

.main-holder .holdertwo {
  grid-column: 2;
}

p.current-name {
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
}

p.current-name-notallowed {
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  color: var(--not-allowed);
}

p.current-name-notallowed:hover {
  cursor: not-allowed;
}

.button {
  all: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 20px 0px;
}

button {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkest-color);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--darkest2-color);
}

button mat-icon {
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background-color: white;
  width: 463px;
  padding: 5px;
  border: 1px solid #ccc;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

button:nth-child(2) {
  margin-left: 5px;
}

.error-text {
  color: red;
}

.error-message {
  color: red;
  font-size: 12px; /* Adjust font size as needed */
}

/* ... other styles ... */

.loader-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    119,
    119,
    119,
    0.6
  ); /* Adjust the background color and opacity */
  z-index: -0;
  margin-top: 120px;
  margin-left: 100px;
  text-align: center;
}

.loader {
  width: 350px;
  height: 180px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  box-shadow: 2px 2px 10px -5px lightgrey;
  margin-top: -180px;
  margin-left: -90px;
  label {
    color: #002;
    font-size: 15px;
    animation: bit 0.6s alternate infinite;
  }
}
.loading {
  width: 100%;
  height: 10px;
  background: lightgrey;
  border-radius: 10px;
  position: relative;
}
.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 10px;
  background: var(--normal-color);
  border-radius: 10px;
  z-index: 1;
  animation: loading 0.6s alternate infinite;
}
@keyframes bit {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
  0% {
    left: 0%;
  }
}

@media screen and (max-width: 480px) {
  .container-profile-main {
    overflow-x: hidden;
  }

  .container-profile {
    width: 32%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .container-profile:nth-child(2) {
    margin-top: 50px;
  }

  .header {
    width: 320px;
    background-color: var(--darkest-color);
    margin-top: -30px;
  }

  .container-profile .container-inside .card p {
    font-size: 0.8em;
  }

  input {
    background-color: white;
    width: 123px;
    padding: 5px;
    border: 1px solid #ccc;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
  }

  .loader-container {
    margin: auto;
    margin-top: 90px;
  }

  .loader {
    width: 200px;
    height: 100px;
    margin: auto;
  }
}